*{
   margin: 0;padding: 0;
}
 nav{
   background-image: linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.01)), url(photos/land.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 15vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
 
.logo img{
    border-radius: 50%;
   height: 12vh;
   border: 5px solid rgb(0, 194, 219);
   
}
.menu{
   width: 35vw;
}
.menu ul{
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   font-size: large;
}
.menu ul li a{
   color: rgb(40, 162, 219);
   text-decoration: none;
   text-shadow: 0.5px 0.5px 0px rgba(106, 133, 148, 0.507);
   font-size: 20px;
   font-weight: bold;
   font-family: 'Playfair Display', serif;
}
.menu ul li a:hover{
   color: hotpink;
   text-decoration: underline;
}
header input{
   border-radius: 12px;
   padding: 0.5vw;
   background-color: rgb(189, 231, 250);
   border: none;
   color: rgb(24, 23, 22);
}

.ful{
   width: 100%;
   height: 98vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.01)), url(photos/land.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 2rem;
   text-shadow: 1px 1px 0px rgba(9, 59, 24, 0.445);
   color: rgba(99, 231, 132, 0.733);
   font-family:  serif;
   
}
/* .Gal{
   height: 100vh;
} */
.tiger{
   margin: 95px 0px;
   padding: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.tt{
   width: 60vw;
}
.tp{
   width: 20vw;
}
.tp img{
   border-radius: 5px;
}
.parrot{
   margin: 95px 0px;
   padding: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.pt{
   width: 60vw;
}
.pp{
   width: 20vw;
}
.pp img{
   border-radius: 5px;
   width: 275px;
}
.ghariyal{
   margin: 95px 0px;
   padding: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.gt{
   width: 60vw;
}
.gp{
   width: 20vw;
}
.gp img{
   border-radius: 5px;
   width: 275px;
}
.contac{
   
 margin: 30px;
   text-align: center;

}
.contac input{
   width: 70vw;
}
footer{
   background-color: black;
   padding: 20px;
   text-align: center;
   color: white;
}
